@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

body {
    font-family: 'Roboto', sans-serif;
}




/*--TOP--*/

#top {
    background-color: #fff;
    border-bottom: none;
    padding: 0;
    margin: 0;
    min-height: 0;
}

.header-list-left, .header-list-right {
    padding-left: 0px !important;
    list-style-type: none;
    /* margin-bottom: 0px !important; */
    margin: 10px 0;
    display: inline-block;
}

.header-list-left li {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 7px;
}

.header-list-left li img {
    float: left;
    margin-right: 9px;
    margin-top: 5px;
    /* text-transform: uppercase; */
}

.header-list-right li {
    display: inline-block;
    margin-right: 7px;
}

.header-list-right li img {
    /* float: left; */
    margin-right: 6px;
}

#cart {
    margin-bottom: 0;
    width: 195px;
}

#cart > .btn {
    font-size: 12px;
    line-height: 18px;
    color: #FFF;
    height: 60px;
    width: 195px;
}

#cart > .btn {
    font-size: 12px;
    line-height: 18px;
    color: #FFF;
    height: 60px;
    width: 195px;
    border-radius: 0;
    border: none;
    background: #535353;
}

/*---HEADER---*/

header {
    background: #313131;
	  color: #f8f2f2;
		padding: 20px 0;
}

#logo {
    margin: 0 0 10px 0;
    margin-left: 20px;
}



#logo p {
    font-size: 19.5px;
    margin-top: 2px;
}

span.tel {
	font-size: 30px;
	margin-top: 8px;
	display: inline-block;
	margin-bottom: 9px;

}

.header-address {
		font-size: 16px;
}

#menu {
    background-color: #f96511;
    background-image: none;
    background-repeat: repeat-x;
    border-color: transparent;
    min-height: 40px;
    height: 85px;
} 

li.cat-menu {
    height: 100%;
    background: #535353;
}

#menu>li {
    display: inline-block;
}

#menu .nav > li > a {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    margin: 10px 15px 10px 15px;
    min-height: 15px;
    padding: 0;
    background-color: transparent;
}

/*---CART---*/

.product-cart {
    height: 420px;
    overflow: initial;
		position: relative;
		border: 3px solid #e2e2e2;
}

.product-cart .cart-bottom {
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 100%;
}

.product-cart h4 a {
    color: #f96511;
    font-size: 18px;
}