@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

body {
    font-family: 'Roboto', sans-serif;
	background-color: #e9e9e8;
    font-size: 13px;
}

.colored {
    color: #f96511;
}

.back-colored {
    background-color: #f96511;
}

/*--TOP--*/

#top {
    background-color: #fff;
    border-bottom: none;
    padding: 0;
    margin: 0;
    min-height: 0;
}

.header-list-left, .header-list-right {
    padding-left: 0px !important;
    list-style-type: none;
    /* margin-bottom: 0px !important; */
    margin: 10px 0;
    display: inline-block;
}

.header-list-left li {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 7px;
}

.header-list-left li img {
    float: left;
    margin-right: 9px;
    margin-top: 5px;
    /* text-transform: uppercase; */
}

.header-list-right li {
    display: inline-block;
    margin-right: 7px;
}

.header-list-right li img {
    /* float: left; */
    margin-right: 6px;
}

#cart {
    margin-bottom: 0;
    width: 195px;
}

#cart > .btn {
    font-size: 12px;
    line-height: 18px;
    color: #FFF;
    height: 60px;
    width: 195px;
}

#cart > .btn {
    font-size: 12px;
    line-height: 18px;
    color: #FFF;
    height: 60px;
    width: 195px;
    border-radius: 0;
    border: none;
    background: #535353;
}

/*---HEADER---*/

header {
    background: #313131;
	  color: #f8f2f2;
		padding: 20px 0;
}

#logo {
    margin: 0 0 10px 0;
    margin-left: 20px;
}



#logo p {
    font-size: 19.5px;
    margin-top: 2px;
}

span.tel {
	font-size: 30px;
	margin-top: 8px;
	display: inline-block;
	margin-bottom: 9px;

}

.header-address {
		font-size: 16px;
}

#menu {
    background-color: #f96511;
    background-image: none;
    background-repeat: repeat-x;
    border-color: transparent;
    min-height: 40px;
    height: 84px;
}

.dropdown.cat-menu {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    padding: 31px;
    background: #535353;
    margin-left: 20px;
}

#menu .cat-menu .dropdown-menu {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
}

.cat-menu-toggle {
    color: #faf6f4;
    /* vertical-align: middle; */
    font-size: 22px;
}

.cat-menu-toggle:hover {
    color: #f86b11;
}

#menu .dropdown-inner {
    width: 390px;
}

.sub-menu li {
    position: relative;
}

#menu .cat-menu .dropdown-menu li a {
    font-size: 17px;
    font-weight: 500;
    /* background: red; */
    background: #f2f2f2;
    border-bottom: 2px solid #c7c8cb;
    padding: 20px 10px;
    text-transform: uppercase;
}

.sub-menu li i {
    position: absolute;
    right: 10px;
    width: 40px;
    text-align: center;
    padding: 13px 10px;
    background: #fff;
    color: #f96511;
    height: 40px;
    top: 10px;
}

.sub-menu li a:hover i {
    background: #535353;
    color: white;
}

#menu .cat-menu .dropdown-menu li a:hover {
    background: #f96511;
    color: #faf6f4;
}

/*---*/

.menu_items {
    display: inline-block;
    /* float: left; */
    margin-left: 13px;
}

.menu_items ul {
    padding-left: 0px;
    list-style-type: none;
}

.menu_items ul>li:not(:last-child) {
    /* color: red; */
    border-right: 1px solid #faf6f4;
}

.menu_items ul>li {
    display: inline-block;
    padding: 0px 12px;
    /* border-right: 1px solid #faf6f4; */
}

.menu_items ul>li>a {
    color: #faf6f4;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
}

.menu_items ul>li>a:hover {
    color: #535353;
}


/*---CART---*/

.product-cart {
    height: 420px;
    overflow: initial;
	position: relative;
	border: 3px solid #e2e2e2;
	background: white;
}

.product-cart .cart-bottom {
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 100%;
}

.product-cart h4 a {
    color: #f96511;
    font-size: 18px;
}

button.in_cart {
    border-radius: 0;
    border: none;
    padding: 3px 9px;
    height: 38px;
    vertical-align: bottom;
}

button.in_cart i {
    font-size: 30px;
    color: white;
}

.details {
    height: 38px;
    font-size: 18px;
    background: transparent;
    border: 1px solid #b9b5b5;
    margin-left: 5px;
    font-weight: 500;
}

.cat-menu-toggle img {
    margin-left: 15px;
    margin-bottom: 3px;
}

